<%= render 'header' %>
<div class="container">
	<h1>Time off</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<table>
			<thead>
				<tr>
					<th><h1>Name</h1></th>
					<th><h1>Reason</h1></th>
					<th><h1>Time</h1></th>
					<th><h1>Description</h1></th>
				</tr>
			</thead>
			
		</table>
	  </div>
	  <div class="panel-body">
	    <tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</tbody>
	  </div>
	</div>
	<br>

	<h1>Approved</h1>
	<div class="panel panel-default">
	  <div class="panel-heading">
	  	<table>
			<thead>
				<tr>
					<th><h1>Name</h1></th>
					<th><h1>Reason</h1></th>
					<th><h1>Time</h1></th>
					<th><h1>Description</h1></th>
				</tr>
			</thead>
			
		</table>
	  </div>
	  <div class="panel-body">
	    <tbody>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				</tbody>
	  </div>
	</div>
</div>
<%= render 'footer' %>